body {
	margin: 0;
	padding: 0;
	line-height: 1.7em;
	letter-spacing: 1px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #161d1e;
    background: #ffffff url(images/banner_l.jpg) repeat-x top;
}
		
a:link, a:visited { color: #073475; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #996600; text-decoration: underline; }

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.f_1 {
	float: left;
}

.f_r {
	float: right;
}


.cl { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cl_02 { clear: both; width:100%; height: 10px; }
.cl_03 { clear: both; width:100%; height: 20px; }
.cl_04 { clear: both; width:100%; height: 30px; }
.cl_01 { clear: both; width:100%; height: 40px; }
.cl_05 { clear: both; width:100%; height: 50px; }
.cl_06 { clear: both; width:100%; height: 60px; }

.margen_1 { margin-right: 60px; }

.boton_001 a {
	display: block;
	width: 94px;
	height: 28px;
	padding: 6px 5px 4px 5px;
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background: url(images/botong_01.png) no-repeat;
}

.boton_001 a:hover {
	color: #ffffff;
	background: url(images/boton_hover.png) no-repeat;
}

h2 {
	margin: 0 0 5px 0;
	padding: 10px 0;
	font-size: 24px;
	font-weight: normal;
	color: #073475;
}

h3 {
	margin: 0	;
	padding: 2px 0;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}



#plantila_ovi_menu {
	height: 59px;
	background: url(images/plantila_ovi_menu_bg.jpg) no-repeat center top;
}

#plantila_ovi_menu ul {
	width: 590px;
	margin: 0 auto;
	padding: 0px;
	list-style: none;
}

#plantila_ovi_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#plantila_ovi_menu ul li a {
	position: relative;
	float: left;
	width: 100px;
	display: block;
	height: 35px;
	padding: 14px 8px 0 0;
	margin-right: 10px;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	color: #c9d3da;	
	font-weight: bold;
	outline: none;
	background: url(images/botong_02.png) no-repeat right top;
}

#plantila_ovi_menu ul li a span {
	position: absolute;
	width: 8px;
	height: 49px;
	left: -8px;
	top: 0;
	background: url(images/botong_03.png) no-repeat left top;
}

#plantila_ovi_menu li a:hover, #plantila_ovi_menu li .pres {
	color: #ffffff;
	background: url(images/botonp.png) no-repeat right top;
}

#plantila_ovi_menu li a:hover span, #plantila_ovi_menu li .pres span {
	position: absolute;
	width: 8px;
	height: 49px;
	left: -8px;
	top: 0;
	background: url(images/botonl.png) no-repeat left top;
}



#plantila_ovi_unad {
	width: 100%;
	height: 310px;
	margin: 0 auto;
	background: url(images/banner.jpg) no-repeat top center;
}

#plantilla_ovi_unad_br {
	position: relative;
	width: 900px;
	height: 297px;
	margin: 0 auto;
	padding: 13px 40px;
	background: url(images/banner_c.jpg) no-repeat top center;
}

#plantilla_ovi_unad_br .ovi_titulo_derecha {
	float: left;
	width: 400px;
}

#plantilla_ovi_unad_br .ovi_titulo_izquierda {
	float: right;
	width: 380px;
	margin-top: 30px;
	text-align: right;
}

.ovi_titulo_izquierda h2 a {
	color: #63b5dc;
	font-style: normal;
}

.ovi_titulo_izquierda p {
	color: #3a8fb8;
}

#plantilla_ovi_unad_br  #titulo_sitio {
	float: left;
	padding: 30px 0 0 0;
}

#titulo_sitio h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#titulo_sitio h1 a:hover {
	font-weight: bold;	
	text-decoration: none;
}

#titulo_sitio h1 a span {
	display: block;
	margin-top: 10px;
	margin-left: 5px;
	font-size: 14px;
	color: #f1f2f2;
	font-weight: bold;
	letter-spacing: 4px;
}


#plantilla_ovi_unad_br #caja_busqueda {
	position: absolute;
	width: 340px;
	height: 30px;
	bottom: 23px;
	right: 110px;
}

#caja_busqueda form {
	width: 340px;
	height: 30px;
	margin: 0;
	padding: 0;
}

#buscar_campo {
	height: 20px;
	width: 290px;
	padding: 6px 5px 4px 5px;
	color: #000000;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
	background: none;
	border: none;	
}

#boton_buscar {
 	height: 30px;
	width: 35px;
	margin: 0px;
	padding: 6px 0 0 0;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	color: #000000;
	background: none; 
	border: none;
}


#contenido_plantilla_ovi {
	clear: both;
	width: 900px;
	padding: 30px 40px;
	margin: 0 auto;
}

.seccion_1 {
	clear: both;
	width: 900px;
}

.marco_img img {
	margin-bottom: 10px;
	border: 7px solid #dedede;
}

.imgl{
	float: left;
	margin: 3px 15px 10px 0;
}

.seccion_4 {
	width: 400px;
}

.seccion_5 {
	width: 260px;
}

.tes {
	font-style: italic;
}

.tes span {
	font-size: 16px;
	font-weight: bold;
}

.serv {
	margin: 10px 0 0;
	padding: 0px;
	list-style: none;
}

.serv li {
	padding: 5px 0 5px 30px;
	background: url(images/chek.png) left center no-repeat;
}

.caja_not {
	margin-bottom: 10px;
	border-bottom: 1px dashed #ccc;	
	color: #ffffff;
}

.caja_not .info_desp {
	color: #999999;
}

.caja_not .info_desp a {
	color: #666666;
	font-weight: bold;
}

.caja_not .info_desp strong {
	color: #666666;
}

.caja_not a {
	color: #14587c;
}


#plantilla_ovi_cubr {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #04507C;
}

#plantilla_ovi_pie {
	width: 940px;
	margin: 0 auto;
	padding: 30px 20px;
	color: #cccccc;
	background-color: #04507c;
	background-image: url(images/pie.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#plantilla_ovi_pie  a {
	color: #ffffff;
}

#plantilla_ovi_pie .seccion_08 {
	float: left;
	width: 240px;
	padding-right: 40px;
}

#plantilla_ovi_pie .seccion_08 h3 {
	width: 175px;
	height: 30px;
	font-size:14px;
	font-weight: bold;
	color: #ffffff;
	
}

#plantilla_ovi_pie .pie_li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}


#plantilla_ovi_pie .pie_li li {
	margin: 0px;
	padding: 3px 0;
}

#plantilla_ovi_pie .pie_li li a {
	color: #cccccc;
}

#plantilla_ovi_pie .pie_li li a:hover {
	color: #ffffff;
	text-decoration: none;
}
